body{
	margin: 0;
}
small{
	color: grey;
}
#header{
	height: 200px;
}

#page{
	background-color: white;
	font-family:tahoma;
	background-attachment: fixed;
}
#panel panel-default h1,p{
    text-align: center;
}
#page input{
	text-align: center;
	color: black;
}
h1{
	text-align: center;
	font-family: courier new;
}
h2{
	font-family:tahoma;
}
#logo{
	height: 130px;
}
#icone{
	height: 70px;
}
#icone a{
	color:blue;
	font-size: 20px;
	margin-left: 15px;
}
#container a{
	font-size: 15px;
	margin-left: 15px;
}

input[type=text]{
	border-radius:10px;
}
input[type=password]{
	border-radius:10px;
}
input[type=submit]{
	background-color:white;
	border-radius:10px;
}
ul{
	list-style-type: none;
}
#nav{
	text-align: center;
}
#nav input[type=text]{
	background-color: #312f32;
	border-radius:10px;
	 width: 600px;
	 height: 50px;
	 border:#312f32;
	 color: white;
}
#nav input[type=submit], .publication input[type=submit]{
	background-color:#9645c4;
	border-radius:10px;
	height: 30px;
}
#nav select{
	background-color: #312f32;
	border-radius:10px;
	height: 30px;
	border:#312f32;
}
.img1{
	width: 40px;
	height: 40px;
}
.img2{
	width: 60px;
	text-align: center;
}
.img3{
	width: 60px;
	height: 60px;
}
.img4{
	width: 50px;
	height: 50px;
}
.content{
	width: 300px;
	height: 300px; 
	text-align: center;
	background-color: rgba(131,38,212,0.3);
	border-radius: 10px;
	float: center;
	margin-left: auto;
	margin-right: auto;
}
#font
{ 
	 text-align: center;
	 background-color: rgba(66, 141, 245,0.5);
	 border-radius: 10px;
 	float: center;
	 margin-left: auto; 
	margin-right: auto;
	width: 1000px;
}
#font select{
	background-color: #312f32;
	border-radius:10px;
	height: 30px;
	border:#312f32;
	color: white;
}
.under_div{
	background-color: #312f32;
	border-radius:10px;
	width: 475px;
	border:#312f32;
	color: white;
}
#liste
{ 
	 text-align: center;
	 background-color: black;
	 border-radius: 10px;
 	float: center;
	 margin-left: auto; 
	margin-right: auto;
	width: 300px;
}
#connexion{
	text-align: center;
}

#content input{
	font-family: lucida handwriting;
	text-align: center;
}

#table{
	text-align: center;
	 background-color: black;
	 border-radius: 10px;
 		float: center;
	 margin-left: auto; 
	margin-right: auto;
	width: 400px;
}

#footer{
	/*background-image: url("../image/foot.png");*/
	clear:both;
	color: black;
	background-repeat: no-repeat;
	height: 100px;
}
#footer p{
	font-size: 16px;
}
#image{
	text-align :center;
}
#footer p{
	text-align: right;
	background-color: #f01a1a;
}
#caracteristique
{
	float:right;
	background-color: grey;
	border-radius: 30px;
}
table {
	float: center;
}
table td,a{
	color:black;
}
.row{
	float: center;
	text-align: center;
}
.zoom img{
	transform: scale(1);
	transition: .3s ease-in-out;
}

.zoom img:hover{
	transform: scale(2,2);
}

.lien a



