.container-fluid {
    margin-top: 50px;
}

.nav {
    font-size: 25px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 150px;
    height: 500px;
    box-shadow: 0.1px 0.2px 1px 1.5px darkgray;

    overflow-y: scroll;
    overflow-x: hidden;
}


.item {
    display: flex;

}

.title {
    padding: 10px;
    width: 100%;

    margin-top: 15px;
}

.menu {
    width: 100%;
}

.name-item {
    padding: 10px 50px;
    width: 100%;
    
    margin-right: 15px;

    border-radius: 2px;

    transition: all 0.5s;
}

.name-item:hover {
    background: #886;
    color: white;
}

.space {
    width: 85px;
}

.container-item a {
    text-decoration: none;
    color: black;
}

